body{
    background-color: #F9EBAC;
}
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
    width: 38%;
    padding: 15px;
    outline: none;
    border-radius: 10px;
}
.templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4,1fr);
}
.templateContainer .template_Container .template{
    background-color: white;
    margin: 30px;
    padding: 0px 20px;
    border-radius: 45px;
    /* border: 1px solid blue; */

}

.templateContainer .template_Container .template:hover {
    transition: 0.8s;
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
    border-color: #007bff !important;
}

.templateContainer .template_Container .template img{
    height: 200px;
    width: 200px;
    margin-top: 25px;
    margin-left: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: rgb(138, 138, 138);
}

.card-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
